* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(220, 15%, 55%);
	font-family: 'Outfit', sans-serif;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 375px;

	border-radius: 20px;
	background-color: #fff;
	text-align: center;

	padding: 20px 20px 60px 20px;
}

.qr-code {
	border-radius: 18px;
	overflow: hidden;
	margin-bottom: 30px;
}

img {
	width: 350px;
}

h2 {
	font-weight: bold;
	margin-bottom: 20px;
	padding: 0 20px;
}

p {
	font-size: 15px;
	color: hsl(220, 15%, 55%);
	padding: 0 35px;
}
